@import url('https://fonts.googleapis.com/css?family=Inconsolata');

:root {
    --primary-color: rgb(28, 30, 41);
    --secondary-color: rgb(51, 53, 75);
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: rgb(144, 150, 180);
    --highlight-color: rgb(235, 60, 104);
}

* {
    font-family: Inconsolata, monospace;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

header {
    background-color: var(--secondary-color);
}

footer {
    border-top: 2px solid var(--highlight-color);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.card {
    background-color: var(--secondary-color);
    border-top: 2px solid var(--highlight-color);
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 3px 10px var(--highlight-color);
}

.card-title {
    color: var(--primary-text-color);
}

.card-text {
    color: var(--secondary-text-color);
}

#mods {
    grid-template-columns: repeat(auto-fit, 20em);
}