@import url("https://fonts.googleapis.com/css?family=Inconsolata");

:root {
    --bs-body-font-family: "Inconsolata", monospace;
    --bs-body-color: hsl(230deg 20% 75%);
    --bs-body-bg: hsl(230deg 20% 15%);
    --bs-heading-color: hsl(230deg 20% 90%);
}

.card {
    --bs-card-title-color: var(--bs-heading-color);
    --bs-card-border-color: hsl(230deg 20% 60%);
    --bs-card-border-radius: 0;
}

.table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-border-color: hsl(230deg 20% 60%);
}
