@import url('https://fonts.googleapis.com/css?family=Inconsolata');

:root {
    --primary-color: hsl(230, 18%, 13%);
    --secondary-color: hsl(235, 19%, 24%);
    --text-primary-color: white;
    --text-secondary-color: hsl(230, 19%, 64%);
}

* {
    font-family: Inconsolata, monospace;
}

body {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
}

h1 {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.card {
    width: 250px;
    background-color: var(--secondary-color);
}

.card .card-title {
    color: var(--text-primary-color);
}

.card .card-text {
    color: var(--text-secondary-color);
}